@page "/"

<PageTitle>Enquete Estudantil - DIO Demo Legal</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center mb-4">
                <h1>🎓 DIO Demo Legal</h1>
                <p class="lead">Bem-vindo ao nosso aplicativo educacional!</p>
            </div>
            
            <StudentPoll />
        </div>
    </div>
</div>
